.large-card-extra {
  border-radius: 5%;
  border: none;
  text-align: left;
  background-color: white;
  margin: auto;
  padding: 10px;
  margin-bottom: 50px;
  margin-top: 36px;
  margin-left: 8px;
  margin-right: 8px;
}

.small-card-extra {
  margin: auto;
  border-radius: 5%;
  background-color: white;
  padding: 10px;
  width: 180px;
  justify-content: center;
  margin-bottom: 16px;
  margin-top: 16px;
  margin-left: 8px;
  margin-right: 8px;
}

.p-big {
  font-family: DM Sans;
  font-size: 16px;
  color: $dark-olive;
  font-weight: bold;
}

.header-small {
  font-family: DM Sans;
  font-size: 12px;
  color: $gray-meddark;
  font-weight: bold;
}

.container-small-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.large-card-extra-container {
  margin: 20px;
}

.small-card-pic {
  height: 45px;
  width: 45px;
}

.card-weed {
  display: flex;
  padding: 10px;
  margin: 10px 5px;
  background-color: white;
  border-radius: 5%;
  justify-content: justify;
}

.card-weed h6 {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: bold;
  color: $dark-olive;
  margin-left: 10px;
}

.watering-pic {
  height: 340px;
  width: 340px;
  object-fit: cover;
  margin-left: 16px;
  border-radius: 10px
}

.care-card {
  margin: 20px;
  padding: 10px;
  justify-content: center;
}

.bottom-container {
  margin-bottom: 100px;
}

.card-step {
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 5px;
  text-align: left;
}

.care-card-2 {
  margin: 20px 40px ;
  padding: 10px;
  justify-content: center;
}

.card-weed-2 {
  display: flex;
  padding: 10px;
  margin: 10px 25px;
  background-color: white;
  border-radius: 5%;
  justify-content: justify;
}

.card-weed-2 h6 {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: bold;
  color: $dark-olive;
  margin-left: 10px;
}

ul.list-ellipse-class-2 {
    li {
    list-style-type: none;
    padding-left: 36px;
    margin-left: -20px;
    margin-right: 32px;
    font-size: 14px;
  }

  .list-bullets-1 {
    background: asset-url('elipse-dark.png') no-repeat 0 0 transparent;
  }

  .list-bullets-2 {
    background: asset-url('elipse-meddark.png') no-repeat 0 0 transparent;
  }

  .list-bullets-3 {
    background: asset-url('elipse-med.png') no-repeat 0 0 transparent;
  }
}

ul.list-ellipse-class-3 {
   li {
    list-style-type: none;
    padding-left: 35px;
    margin-left: -40px;
  }

  .list-bullets-1 {
    background: asset-url('elipse-dark.png') no-repeat 0 0 transparent;
  }

  .list-bullets-2 {
    background: asset-url('elipse-meddark.png') no-repeat 0 0 transparent;
  }
}



