.large-card-extra {
  border-radius: 5%;
  border: none;
  text-align: left;
  background-color: white;
  margin: auto;
  padding: 10px;
  margin-bottom: 32px;
  margin-top: 32px;
}

.p-big {
  font-family: DM Sans;
  font-size: 16px;
  color: $dark-olive;
  font-weight: bold;
}

.header-small {
  font-family: DM Sans;
  font-size: 12px;
  color: $gray-meddark;
  font-weight: bold;
}

.container-small-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.small-card-extra {
  margin: auto;
  border-radius: 5%;
  background-color: white;
  padding: 10px;
  width: 180px;
  justify-content: center;
  margin-bottom: 32px;
  margin-top: 16px;
}

.small-card-pic {
  height: 45px;
  width: 45px;
}

.card-weed {
  display: flex;
  padding: 10px;
  margin: 10px 20px;
  background-color: white;
  border-radius: 5%;
  justify-content: justify;
}

.card-weed h6 {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: bold;
  color: $dark-olive;
  margin-left: 10px;
}

.watering-pic {
  width: 292px;
  height: 292px;
  margin-left: 45px;
}

.care-card {
  margin-left: 25px;
  padding: 10px;
  justify-content: center;
}

.bottom-container {
  margin-bottom: 100px;
}

.card-step {
  margin-left: 15px;
  margin-right: 30px;
  margin-top: 5px;
  text-align: left;
}

.large-card-extra-container {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 32px;
  margin-top: 16px;
}
