.background {
  background-color: $oatmeal-med;
}

h1 {
  font-size: 24px;
  color: $terracotta;
  text-align: center;
}

p {
  font-size: 14px;
  color: $gray-dark;
  text-align: center;
}

h5 {
  font-size: 16px;
  color: $dark-olive;
  text-align: left;
}

#buttonforward {
  margin-right: 5px;
}
