.cards-container {
  background-color: white;
  display: flex;
  flex-grow: 5;
  flex-wrap: wrap;
  margin: 20px 20px;
}

.card {
  border-radius: 5%;
  border: none;
  text-align: left;
}

.card-img-top {
  border-radius: 3%;
  width: 165px;
  height: 164px;
}

.card-body h5 {
  font-size: 16px;
  color: $dark-olive;
  margin: 1px 2px;
}

.card-body h6 {
  font-size: 14px;
  color: $terracotta;
}

.card-body p {
  font-size: 14px;
  color: $gray-dark;
}

.assembly-pic {
  width: 262px;
  height: 262px;
}

.card-text-step {
  text-align: justify;
  margin: 20px 50px;
  padding: 10px;
}

.card-text-step h5 {
  font-color: $gray-dark;
  font-weight: 700;
  font-size: 16px;
  font-family: DM Sans;
}

.card-text-step p {
  font-color: $gray-dark;
  font-weight: 400;
  font-size: 14px;
  font-family: DM Sans;
}

img {
  border-radius: 5%;
}

.ellipse-1 {
  background-color: $dark-olive;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  position: absolute;
  top: 377px;
  left: 22px;
}

.ellipse-2 {
  background-color: $olive-med;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  position: absolute;
  top: 526px;
  left: 22px;
}

.ellipse-3 {
  background-color: $olive-medlight;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  position: absolute;
  top: 674px;
  left: 22px;
}

.ellipse-4 {
  background-color: $olive-lightest;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  position: absolute;
  top: 1064px;
  left: 22px;
}
