// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$dark-olive: #29392C;
$olive-med: #688F6E;
$olive-medlight: #7A9E80;
$olive-lightest: #D5E0D7;
$terracotta: #B0633B;
$oatmeal-med: #F4F1ED;
$oatmeal-light: #FBFAF9;
$gray-dark: #616569;
$gray-meddark: #91979d;
$aubergine-med: #572271;
$beetroot-med: #900B63;
$chilli-med: #C13407;
