<div class="background">
  <%= image_tag "man-in-garden.jpg", class: "img-signup" %>
  
  <div class="pages-container-taller">
    <h3>Create an eco-friendly vegetable patch with our simple step-by-step guide</h3>

    <% if user_signed_in? %>
      <%= link_to 'Get Started', new_patch_path, class: "btn btn-primary w-100" %>
    <% else %>
      <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-primary w-100" %>

      <div class="link-center">
        <%= link_to 'Log in', new_user_session_path %>
      </div>
    <% end %>
  </div>
</div>
