<div class="background pt-5">
  <div class="pages-container">
    <h1>Welcome <%= User.name %></h1>
  </div>

    <ul class="list-inline tabs-underlined">
      <li>
        <a href="#" class="tab-underlined active">My patches</a>
      </li>
    </ul>
</div>

<div class="background-light">
  <div class="pages-container">
    <div class="med-image" style="background-image: url(<%= cl_image_path('https://res.cloudinary.com/dmixbgvgw/image/upload/v1623240571/Patched/mypatch.jpg')%>"></div>
  </div>

  <ul class="list-inline tabs-underlined">
      <li>
        <a href="#" class="tab-underlined active">Notifications</a>
      </li>
    </ul>
</div>

<h1>Mobile Fixed Bottom Nav</h1>
<h2>Bottom</h2>

<nav class="mobile-bottom-nav">
  <div class="mobile-bottom-nav_item mobile-bottom-nav_item--active">
    <div class="mobile-bottom-nav_item-content">
      <i class="material-icons">home</i>
      one
    </div>
  </div>
  <div class="mobile-bottom-nav_item">
    <div class="mobile-bottom-nav_item-content">
      <i class="material-icons">mail</i>
      two
    </div>
  </div>
  <div class="mobile-bottom-navitem">
    <div class="mobile-bottom-nav_item-content">
      <i class="material-icons">person</i>
      three
    </div>
  </div>

  <div class="mobile-bottom-nav_item">
    <div class="mobile-bottom-nav_item-content">
      <i class="material-icons">phone</i>
      four
    </div>
  </div>
</nav>

