<div>
  <div class="background pt-3">
    <div class="pages-container">
      <h1>Set up your patch</h1>
    </div>
      <ul class="list-inline tabs-underlined">
        <li>
          <a href="#" class="tab-underlined active">You will need</a>
        </li>
        <li>
          <a href="#" class="tab-underlined active">Assembly</a>
        </li>
      </ul>
  </div>
  <div class="cards-container">
    <div class="row">
      <div class="card col-6">
        <img class="card-img-top" src="/assets/cardboardboxes.jpg">
          <div class="card-body">
            <h5 class="card-text">Cardboard boxes</h5>
            <p class="card-text">10-14</p>
            <p class="card-text">Used</p>
            <h6 class="card-text">How to find</h6>
          </div>
      </div>
      <div class="card col-6">
        <img class="card-img-top" src="/assets/raisedbedframe.jpg">
          <div class="card-body">
            <h5 class="card-text">1 raised bed frame</h5>
            <p class="card-text">1.2m x 1.2m</p>
            <p class="card-text">Recycled wood</p>
            <h6 class="card-text">Make your own</h6>
          </div>
      </div>
      <div class="card col-6">
        <img class="card-img-top" src="/assets/gardenshovel.jpg">
          <div class="card-body">
            <h5 class="card-text">Garden shovel</h5>
            <p class="card-text">80cm</p>
            <p class="card-text">Recycled materials</p>
            <h6 class="card-text">Expert advise</h6>
          </div>
      </div>
      <div class="card col-6">
        <img class="card-img-top" src="/assets/organiccompost.jpg">
          <div class="card-body">
            <h5 class="card-text">Organic compost</h5>
            <p class="card-text">400g</p>
            <p class="card-text">Chipping-based</p>
            <h6 class="card-text">Make your own</h6>
          </div>
      </div>
      <div class="card col-6">
        <img class="card-img-top" src="/assets/organicsoil.jpg">
          <div class="card-body">
            <h5 class="card-text">Organic soil</h5>
            <p class="card-text">400g</p>
            <p class="card-text">Nutrient-riched</p>
            <h6 class="card-text">Make your own</h6>
          </div>
      </div>
    </div>
  </div>
  <%= render 'shared/menu' %>
</div>


