<%= link_to root_path do %>
  <%= image_tag "button/backarrow.png", class:"buttonarrow" %>
<% end %>
<h1>Your vegetables</h1>
<p>These are your selected vegetables. You can edit these any time in your profile.</p>
<%= link_to 'Generate my patch', patch_path %>
