<div class="background pt-3">
  <%= link_to root_path do %>
    <%= image_tag "button/backarrow.png", class:"buttonarrow-left" %>
  <% end %>
<div class="pages-container">
    <h1>Planting</h1>
</div>
    <ul class="list-inline tabs-underlined">
      <li>
        <a href="#" class="tab-underlined active">Vegetables</a>
      </li>
    </ul>
<div class="background-light">
  <div class="vegetable-card">
      <h5>Carrots</h5>
  </div>
</div>

<%= render 'shared/menu' %>
