.form-control {
  background-color: $oatmeal-med;
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 16px;
}

.ap-input-icon svg {
  top: 44%;
  right: 160%;
}

.form-style h1 {
  margin-bottom: 16px;
}

.optional {
  margin-bottom: 8px;
  font-size: 14px;
}
