.form-control {
  background-color: $oatmeal-med;
}

.form-style h1 {
  margin-bottom: 16px;
}

.form-style.label {
  font-size: 12px;
}

.br-widget {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.optional {
  margin-bottom: 8px;
  font-size: 14px;
}
