.med-image {
  width: 100%;
  height: 311px;
  border-radius: 10px;
  background-size: cover;
  position: relative;
}

.title-box {
  position: absolute;
  height: 60px;
  width: 100%;
  bottom: 0;
  background-color: $dark-olive;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
}

.title-box .patch-name {
  color: white;
  font-size: 16px;
  font-weight: 800;
  padding-left: 16px;
  padding-bottom: 4px;
}

.edit-btn {
  font-size: 16px;
  font-weight: 800;
  color: $gray-meddark;
  padding: 4px 32px;
  background-color: white;
  border-radius: 100px;
  border: none;
  position: absolute;
  top: 16px;
  right: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

