.vegetable-card {
  display: flex;
  background: #FFFFFF;
  border: 1px solid #F4F1ED;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(245, 238, 238, 0.94);
  border-radius: 10px;
  align-items: center;
  margin: 0 auto;
  font-size: 16px;
  color: $dark-olive;
  text-decoration: none;
  justify-content: space-between;
  padding: 12px;
  transition: transform .3s;

  &:active {
    transform: scale(1.1, 1.1);
  }

  &:hover {
    text-decoration: none;
  }

  &.checked {
    .check {
      background: $dark-olive;
      text-decoration: none;

      .tick {
        display: block;
      }
    }
  }

  .vegetable-photo {
    border-radius: 10px;
  }

  .check {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    background: $olive-lightest;
    text-decoration: none;

    .tick {
      display: none;
    }
  }
}

.nomes {
  text-align: left;
}

.action {
  background: $dark-olive;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 32px;
  margin: 25px 15px;
}

.gen-text {
  background: $dark-olive;
  color: white;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: bold;
  border: none;
}

.vegetable-card .font-size-h5 {
  font-weight: bold;
  font-family: DM Sans;
}
