.background-light h3 {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: bold;
  color: #616569;
  padding-left: 34px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.vegetable-card-slider {
  background: #FFFFFF;
  border: 1px solid #F4F1ED;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(245, 238, 238, 0.94);
  border-radius: 10px;
  width: 311px;
  height: 78px;
  display: flex;
  margin: 0 auto;
  font-size: 16px;
  color: $dark-olive;
  text-align: left;
  padding: 10px;
}

.vegetable-card-content p {
  margin-bottom: 3px;
}

.vegetable-card-slider h5 {
  font-weight: bold;
  font-family: DM Sans;
  margin-bottom: 4px;
}

.vegetable-card-slider p {
  font-size: 12px;
  font-weight: bold;
  color: #91979d;
}


.vegetable-card-slider .progress {
   height: 3px;
   width: 200px;
}

.vegetable-card-slider .progress .progress-bar {
  background-color: #572271;
  height: 3px;
  width: 200px;
}
