// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "bootstrap/scss/bootstrap";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your JavaScript partials
@import "jquery-bar-rating/dist/themes/css-stars";

// Your CSS partials
@import "pages/index";
@import "patches/index";
@import "components/mediumimage";
@import "components/tabs";
@import "components/background_light";
@import "components/index";
@import "components/nav_bar";
@import "components/form-control";
@import "components/sun_rating";
@import "components/vegetable-card-slider";
@import "components/planting-checkbox-card";
@import "patches/edit";
@import "patches/new";
@import "components/harvesting-checkbox-card";
@import "components/sweet-alert-styling";
@import "components/body-wrapper";

